# IntelliJ
/.idea
/vapor.iml

# Mac
.DS_Store

# Node.js
node_modules/

# Private
.env

# Contracts
/packages/contracts/cache
/packages/contracts/out
/packages/contracts/broadcast

# SDK
/packages/sdk/out